{% extends "kca/layout.html" %}
{% load staticfiles %}
{% block head %}

<!-- i-chevron down-->
<script>
      // jQuery(document).ready(function() {       
      //    // initiate layout and plugins
      //    var el = $('.icon-chevron-down').parents(".widget").children(".widget-body");
      //    $('.icon-chevron-down').removeClass("icon-chevron-down").addClass("icon-chevron-up");
      //    el.slideUp(1);

      //    App.init();
         
      // });
   </script>
<!-- end -->
<script src="{% static 'js/angular/store/custom.js' %}"></script>

{% endblock %}
{% block content %}
<div ng-app="store">
  <div id="wrapper" ng-controller="SupplierMasterListController">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget">
          <div class="widget-title">
            <h4><i class="icon-reorder"></i>Add Suppliers</h4>
          </div>
          <div class="alert alert-success alert_div" id="alert_div1" ng-if="alert_success">
              <button class="close" data-dismiss="alert"></button>
              {[{alert_success}]}
          </div>
          <div class="alert alert-danger alert_div" id ="alert_div1" ng-if="alert_failed">
            <button class="close" data-dismiss="alert" ></button>
            {[{alert_failed}]}
          </div>
          <div class="widget-body">
            <div class="row-fluid">
              <div class="span12">
                <!--BEGIN TABS-->
                  <div class="tabbable tabbable-custom">
                  <!-- Only required for left/right tabs -->
                    <ul class="nav nav-tabs tabs-left">
                      <li class="active"><a href="#tab_3_1" data-toggle="tab">Personal Details</a></li>
                      <li><a href="#tab_3_2" data-toggle="tab">Account Details</a></li>
                     </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="tab_3_1">
                        <form action="#" class="form-horizontal">
                          <div style="margin-left:0px;">
                            <table class="tk table table-condensed table-striped no-margin" style="border:0px;">
                              <tr>
                                <td>Supplier Code*</td>
                                <td style="width:300px;"><input type="text" class="span6" ng-model="supplier_code" maxlength="10" /></td>
                                <td style="width:300px;">Supplier Name*</td>
                                <td><input type="text" class="span12" ng-model="supplier_name" maxlength="50"/></td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>
                                   <span><label class="error" ng-if="supplier_code_error">{[{supplier_code_error}]}</label></span> 
                                </td>
                                <td></td>
                                <td>
                                   <span><label class="error" ng-if="supplier_name_error">{[{supplier_name_error}]}</label></span> 
                                </td>
                              </tr>
       
                              <tr>
                                <td style="width:400px;">Contact Person</td>
                                <td style="width:1500px;"><input type="text" class="span8" ng-model="contact_person" maxlength="50"/></td>
                                <td>Contact Phone</td>
                                <td style="width:1000px;"><input type="text" class="span12" ng-model="contact_phone" maxlength="25"/></td>
                              </tr>
                              <tr>
                                <td style="width:400px;">Mobile</td>
                                <td style="width:1000px;"><input type="text" class="span8" ng-model="contact_mobile" maxlength="25"/></td>
                                <td>Email ID</td>
                                <td style="width:1000px;"><input type="text" class="span12" ng-model="contact_email" maxlength="50"/></td>
                              </tr>
                              <tr>
                                <td><label class="control-label">Supplier Address</label></td>
                                <td><textarea class="span8" ng-model="supplier_address" maxlength="150"></textarea></td>
                              </tr>
                               <tr>
                                <td style="width:400px;">Country</td>
                                <td style="width:1000px;">
                                  <select class="span8" ng-model="country_id" ng-change="get_data_on_country_change(country_id)"
                                  ng-options="country.pk as country.fields.country_name for country in countries" autofocus >
                                  </select>
                                </td>
                                <td>State</td>
                                <td style="width:1000px;">
                                  <select class="span12" ng-model="state_id" 
                                  ng-options="state.pk as state.fields.state_name for state in states" autofocus >
                                  </select>
                                </td>
                              </tr>
                              <tr>
                                <td style="width:400px;">Pin code</td>
                                <td style="width:1000px;"><input type="text" class="span8" ng-model="pincode" maxlength="15"/></td>
                                <td>Office Phone</td>
                                <td style="width:1000px;"><input type="text" class="span12" ng-model="office_phone" maxlength="20"/></td>
                              </tr>
                              <tr>
                                <td style="width:400px;">Mobile</td>
                                <td style="width:1000px;"><input type="text" class="span8"ng-model="office_mobile"maxlength="20"/></td>
                                <td>Email ID</td>
                                <td style="width:1000px;"><input type="text" class="span12" ng-model="office_email_id" maxlength="50"/></td>
                              </tr>
                            </table>
                          </div>
                        </form>
                      </div>
                      <div class="tab-pane" id="tab_3_2">
                        <form action="#" class="form-horizontal">
                          <div style="margin-left:0px;">
                            <table class="tk table table-striped no-margin" style="border:0px;">
                              <tr>
                                <td style="width:800px;">Credit Limit </td> 
                                <td style="width:1500px;"><input type="number" class="span12"  ng-model="credit_limit" step="0.01"/></td>
                                <td style="width:800px;padding-left:50px;">Supplier Bank</td>
                                <td style="width:1500px;"><input type="text" class="span12" ng-model="supplier_bank" maxlength="50"/></td>
                              </tr>
                              <tr>
                                <td style="width:800px;">Branch</td>
                                <td style="width:1000px;"><input type="text" class="span12" ng-model="supplier_branch" maxlength="50"/></td>
                                <td style="width:800px;padding-left:50px;">Bank Account No.</td>
                                <td style="width:1000px;"><input type="text" class="span12" ng-model="supplier_account_no" maxlength="50"/></td>
                              </tr>
                              <tr>
                                <td style="width:800px;">IFSC</td>
                                <td style="width:1000px;"><input type="text" class="span12"  ng-model="supplier_ifsc" maxlength="50"/></td>
                                <td style="width:800px;padding-left:50px;">KGST No.</td>
                                <td style="width:1000px;"><input type="text" class="span12"  ng-model="supplier_kgst_no" maxlength="25"/></td>
                              </tr>
                              <tr>
                                <td style="width:800px;">CST No.</td>
                                <td style="width:1000px;"><input type="text" class="span12" ng-model="supplier_cst_no" maxlength="25"/></td>
                                <td style="width:800px;padding-left:50px;">PAN</td>
                                <td style="width:1000px;"><input type="text" class="span12"  ng-model="supplier_pan" maxlength="25"/></td>
                              </tr>
                            </table>
                            <table>
                              <tr>
                                <td></td>
                                <td>Active&nbsp;&nbsp;<input type="checkbox" class="span12" ng-model="is_active"/></td>
                                <td>Billwise Settelment&nbsp;&nbsp;<input type="checkbox" class="span12" ng-model="is_billwisesettle"/></td>
                                <td>Black Listed&nbsp;&nbsp;<input type="checkbox" class="span12" id="scode" name="is_blacklisted"/></td>
                              </tr>
                            </table>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!--END TABS-->
                  <p style="margin-top:10px;color:#f00;text-align:center" id="errormsg"></p>
                  {% if request.privileges.ADD_PERMITTED %}
                  <div class="form-actions" ng-show = "(!view_mode)">
                    <button type="submit" ng-click="save_supplier()"class="btn btn-success" id="frmsbt" style="margin-left:0px;float:right;">Save</button>
                    <button type="button" ng-click= "clear_form_fields()"class="btn" style="margin-right:10px;float:right;">Clear</button>
                  </div>
                  {% else %}
                  <div ng-show = "edit_mode && (!view_mode)" class="form-actions" >
                    <button type="submit" ng-click="save_supplier()"class="btn btn-success" id="frmsbt" style="margin-left:0px;float:right;">Save</button>
                    <button type="button" ng-click= "clear_form_fields()"class="btn" style="margin-right:10px;float:right;">Clear</button>
                  </div>
                {% endif %}
                </div>
              </div>
            </div>
          </div>
          <!-- END SAMPLE FORM widget-->
        </div>
      </div>

    <div class="row-fluid">
      <div class="dividerr"></div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <!-- BEGIN MAILBOX PORTLET-->
        <div class="widget">
          <div class="widget-title">
            <h4><i class="icon-user"></i>&nbsp;Edit/Delete</h4>
            <span class="tools">
              <a href="javascript:;" class="icon-chevron-down"></a>
            </span>
          </div>
          <div class="col-md-6">
            <div class="col-md-8 search pull-right input-group">
              <input tabindex="1" class="form-control" ng-model="search_text" placeholder="Search" type="search" ng-change="search()" /> 
              <!-- <span class="input-group-addon">
              <i class="fa fa-search"></i>
              </span> -->
            </div>
          </div>
          <div class="widget-body">
            <table class="table table-condensed table-striped table-hover no-margin">
              <thead>
                <tr>
                  <th style="width:12%">
                    Supplier Code
                  </th>
                  <th  style="width:12%">
                    Supplier Name
                  </th>
                  <th class="hidden-phone" style="width:12%">
                   Contact Person
                  </th>
                  <th class="hidden-phone" style="width:12%">
                    Phone Number
                  </th>
                  {% if request.privileges.EDIT_PERMITTED %}
                  <th class="right-align-text hidden-phone" style="width:12%">
                    Edit
                  </th>
                  {% endif %}
                  {% if request.privileges.DELETE_PERMITTED %}
                  <th class="right-align-text hidden-phone" style="width:12%">
                    Delete
                  </th>
                  {% endif %}
                  {% if request.privileges.VIEW_PERMITTED %}
                  <th class="right-align-text hidden-phone" style="width:12%">
                       View
                  </th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in suppliers">
                  <td>
                    {[{x.fields.supplier_code}]}
                  </td>
                  <td>
                    {[{x.fields.supplier_name}]}
                  </td>
                  <td>
                    {[{x.fields.contact_person}]}
                  </td>
                  <td>
                    {[{x.fields.contact_phone}]}
                  </td>
                  {% if request.privileges.EDIT_PERMITTED %}
                  <td class="right-align-text hidden-phone">
                    <button class="btn btn-primary" ng-click="edit_supplier(x.pk)"><i class="icon-pencil icon-white"></i>Edit</button>
                  </td>
                  {% endif %}
                  {% if request.privileges.DELETE_PERMITTED %}
                  <td class="right-align-text hidden-phone">
                    <button class="btn btn-danger" ng-click="delete_supplier(x.pk)"><i class="icon-remove icon-white"></i> Delete</button>
                  </td>
                  {% endif %}
                  {% if request.privileges.VIEW_PERMITTED %}
                  <td class="right-align-text hidden-phone">
                      <button class="btn btn-inverse" ng-click="view_supplier(x.pk)"><i class="icon-list icon-white"></i> View</button>
                  </td>
                  {% endif %}
                </tr>
                <tr ng-if="suppliers.length==0">
                  <td colspan="7">No result found</td>
                </tr>
              </tbody>
            </table>
            <div class="col-md-12 pagination_div">
              <div class="dataTables_paginate paging_bootstrap pagination">
                <ul>
                  <li class="prev list_pagination" ng-if="cur_page>1">
                    <a href="#"  ng-click="prePage()">
                      <i class="fa fa-chevron-left" ></i>
                    </a>
                  </li>
                  <li class="active list_pagination">
                    <a href="#">{[{ cur_page }]}</a>
                  </li>
                  <li class="next list_pagination" ng-if="cur_page<total">
                    <a href="#" ng-click="nextPage()">
                       <i class="fa fa-chevron-right" ></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="dataTables_info noBorder">Goto Page <b>
                <input type="text" class="bigText" ng-model="cur_page" ng-blur="genPage()" id="page_no" tabindex="3"> </b> of {[{ total }]} pages
                <span class="padding10per">Showing <b>
                <input type="text" class="bigText" ng-model="per_page" ng-blur="genRecords()" id="per_page" tabindex="2"> </b> records per page</span>
              </div>
            </div>
          </div>
        </div>
          <!-- END MAILBOX PORTLET-->
      </div>
    </div>
  </div>
</div>

{% endblock %}
