{% extends "kca/layout.html" %}
{% load staticfiles %}
{% block head %}

<!-- i-chevron down-->
<script>
      // jQuery(document).ready(function() {       
      //    // initiate layout and plugins
      //    var el = $('.icon-chevron-down').parents(".widget").children(".widget-body");
      //    $('.icon-chevron-down').removeClass("icon-chevron-down").addClass("icon-chevron-up");
      //    el.slideUp(1);

      //    App.init();
         
      // });
   </script>
<!-- end -->
<script src="{% static 'js/angular/store/custom.js' %}"></script>

{% endblock %}
{% block content %}
<div ng-app="store">
  <div id="wrapper" ng-controller="itemSubGroupListController">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget">
          <div class="widget-title">
            <h4><i class="icon-group"></i>Item Sub Group</h4>
          </div>
          <div class="alert alert-success alert_div" id="alert_div1" ng-if="alert_success">
              <button class="close" data-dismiss="alert"></button>
              {[{alert_success}]}
          </div>
          <div class="alert alert-danger alert_div" id ="alert_div1" ng-if="alert_failed">
            <button class="close" data-dismiss="alert" ></button>
            {[{alert_failed}]}
          </div>
          <div class="widget-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal">
              <div style="margin-left:240px;">
                <div class="control-group">
                 <label class="control-label">Sub Group Code*</label>
                  <div class="controls">
                    <!-- <input type="text" class="span4 " id="startdate" ng-model="startdate"/> -->
                     <input type="text" class="span5 " ng-model="item_subgroup_code" maxlength="10"/>
                  </div>
                  <div class="controls">
                    <span><label class="error" ng-if="item_subgroup_code_error">{[{item_subgroup_code_error}]}</label></span> 
                  </div>
                </div>
                <div class="control-group">
                 <label class="control-label">Sub Group Name*</label>
                  <div class="controls">
                    <!-- <input type="text" class="span4 " id="startdate" ng-model="startdate"/> -->
                     <input type="text" class="span5 " ng-model="item_subgroup_name" maxlength="50"/>
                  </div>
                  <div class="controls">
                    <span><label class="error" ng-if="item_subgroup_name_error">{[{item_subgroup_name_error}]}</label></span> 
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Main Group*</label>
                  <div class="controls">
                      <select
                        ng-model="itemgroup_id"
                        ng-options="itemgroup.pk as itemgroup.fields.itemgroup_name for itemgroup in itemgroups" autofocus ></select>
                  </div>
                  <div class="controls">
                    <span><label class="error" ng-if="itemgroup_id_error">{[{itemgroup_id_error}]}</label></span> 
                  </div>
                </div>
                
                <div class="control-group">
                 <label class="control-label">Remarks</label>
                  <div class="controls">
                     <textarea class="span5"  ng-model="remarks" maxlength="300"></textarea>
                  </div>
                </div>
              </div>
              <p style="margin-top:10px;color:#f00;text-align:center" id="errormsg"></p>
              {% if request.privileges.ADD_PERMITTED %}
              <div class="form-actions" ng-show = "(!view_mode)">
                <button type="submit" ng-click="save_itemsubgroup()"class="btn btn-success" id="frmsbt" style="margin-left:242px;">Save</button>
                <button type="button" ng-click= "clear_form_fields()"class="btn">Clear</button>
              </div>
              {% else %}
              <div ng-show = "edit_mode && (!view_mode)" class="form-actions" >
                <button type="submit" ng-click="save_itemsubgroup()"class="btn btn-success" id="frmsbt" style="margin-left:242px;">Save</button>
                <button type="button" ng-click= "clear_form_fields()"class="btn">Clear</button>
              </div>
              {% endif %}
            </form>
            <!-- END FORM-->           
          </div>
        </div>
        <!-- END SAMPLE FORM widget-->
      </div>
    </div>

    <div class="row-fluid">
      <div class="dividerr"></div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <!-- BEGIN MAILBOX PORTLET-->
        <div class="widget">
          <div class="widget-title">
            <h4><i class="icon-user"></i>&nbsp;Edit/Delete</h4>
            <span class="tools">
              <a href="javascript:;" class="icon-chevron-down"></a>
            </span>
          </div>
          <div class="col-md-6">
            <div class="col-md-8 search pull-right input-group">
              <input tabindex="1" class="form-control" ng-model="search_text" placeholder="Search" type="search" ng-change="search()" /> 
              <!-- <span class="input-group-addon">
              <i class="fa fa-search"></i>
              </span> -->
            </div>
          </div>
          <div class="widget-body">
            <table class="table table-condensed table-striped table-hover no-margin">
              <thead>
                <tr>
                  <th style="width:17%">
                    Sub Group Code
                  </th>
                  <th class="hidden-phone" style="width:12%">
                   Sub Group Name
                  </th>
                  <th class="hidden-phone" style="width:12%">
                   Main Group
                  </th>
                  <th class="right-align-text hidden-phone" style="width:12%">
                    Remarks
                  </th>
                  {% if request.privileges.EDIT_PERMITTED %}
                  <th class="right-align-text hidden-phone" style="width:12%">
                    Edit
                  </th>
                  {% endif %}
                  {% if request.privileges.DELETE_PERMITTED %}
                  <th class="right-align-text hidden-phone" style="width:12%">
                    Delete
                  </th>
                  {% endif %}
                  {% if request.privileges.VIEW_PERMITTED %}
                  <th class="right-align-text hidden-phone" style="width:12%">
                       View
                  </th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in itemsubgroups">
                  <td>
                    {[{x.fields.item_subgroup_code}]}
                  </td>
                  <td>
                    {[{x.fields.item_subgroup_name}]}
                  </td>
                  <td>
                    {[{x.fields.itemgroup_id.fields.itemgroup_name}]}
                  </td>
                  <td class="hidden-phone">
                    {[{x.fields.remarks}]}
                  </td>
                  {% if request.privileges.EDIT_PERMITTED %}
                  <td class="right-align-text hidden-phone">
                    <button class="btn btn-primary" ng-click="edit_itemsubgroup(x.pk)"><i class="icon-pencil icon-white"></i>Edit</button>
                  </td>
                  {% endif %}
                  {% if request.privileges.DELETE_PERMITTED %}
                  <td class="right-align-text hidden-phone">
                    <button class="btn btn-danger" ng-click="delete_itemsubgroup(x.pk)"><i class="icon-remove icon-white"></i> Delete</button>
                  </td>
                  {% endif %}
                  {% if request.privileges.VIEW_PERMITTED %}
                  <td class="right-align-text hidden-phone">
                      <button class="btn btn-inverse" ng-click="view_itemsubgroup(x.pk)"><i class="icon-list icon-white"></i> View</button>
                  </td>
                  {% endif %}
                </tr>
                <tr ng-if="itemsubgroups.length==0">
                  <td colspan="7">No result found</td>
                </tr>
              </tbody>
            </table>
            <div class="col-md-12 pagination_div">
              <div class="dataTables_paginate paging_bootstrap pagination">
                <ul>
                  <li class="prev list_pagination" ng-if="cur_page>1">
                    <a href="#"  ng-click="prePage()">
                      <i class="fa fa-chevron-left" ></i>
                    </a>
                  </li>
                  <li class="active list_pagination">
                    <a href="#">{[{ cur_page }]}</a>
                  </li>
                  <li class="next list_pagination" ng-if="cur_page<total">
                    <a href="#" ng-click="nextPage()">
                       <i class="fa fa-chevron-right" ></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="dataTables_info noBorder">Goto Page <b>
                <input type="text" class="bigText" ng-model="cur_page" ng-blur="genPage()" id="page_no" tabindex="3"> </b> of {[{ total }]} pages
                <span class="padding10per">Showing <b>
                <input type="text" class="bigText" ng-model="per_page" ng-blur="genRecords()" id="per_page" tabindex="2"> </b> records per page</span>
              </div>
            </div>
          </div>
        </div>
          <!-- END MAILBOX PORTLET-->
      </div>
    </div>
  </div>
</div>
{% endblock %}
