{% extends "kca/layout.html" %}
{% load staticfiles %}
{% block head %}

<!-- i-chevron down-->
<script>
      // jQuery(document).ready(function() {       
      //    // initiate layout and plugins
      //    var el = $('.icon-chevron-down').parents(".widget").children(".widget-body");
      //    $('.icon-chevron-down').removeClass("icon-chevron-down").addClass("icon-chevron-up");
      //    el.slideUp(1);

      //    App.init();
         
      // });
   </script>
<!-- end -->

<script src="{% static 'js/angular/store/custom.js' %}"></script>

{% endblock %}
{% block content %}
<div ng-app="store">
  <div id="wrapper" ng-controller="item_rack_mappingController">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget">
          <div class="widget-title">
            <h4><i class="icon-group"></i> Item & Rack Mapping</h4>
          </div>
          <div class="alert alert-success alert_div" id="alert_div1" ng-if="alert_success">
              <button class="close" data-dismiss="alert"></button>
              {[{alert_success}]}
          </div>
          <div class="alert alert-danger alert_div" id ="alert_div1" ng-if="alert_failed">
            <button class="close" data-dismiss="alert" ></button>
            {[{alert_failed}]}
          </div>
          <div class="widget-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal">
              <div style="margin-left:240px;">
                <div class="control-group">
                  <label class="control-label">Store Name*</label>
                  <div class="controls">
                      <select
                        ng-model="store_id"
                        ng-options="store.pk as store.fields.store_name for store in stores" ng-change="get_selectedstore_racks();get_items()"autofocus ></select>
                  </div>
                  <div class="controls">
                    <span><label class="error" ng-if="store_id_error">{[{store_id_error}]}</label></span> 
                  </div>
                </div>
              </div><br>
              <div class="widget">
              <div class="col-md-6">
            <div class="col-md-6 search input-group">
              <label class="control-label"><b>Search By</b></label><br><br>
              <div class="control-group">
                  <table>
                    <tr>
                      <td>
                        <label class="control-label">Item Group</label>
                      </td>
                      <td style="width:400px;">
                          <div class="controls">
                              <select class="span12" ng-model="itemgroup_id" ng-change="get_subgroups_on_itemgroup_change(itemgroup_id);get_items()"
                                ng-options="itemgroup.pk as itemgroup.fields.itemgroup_name for itemgroup in itemgroups" autofocus >
                            </select>
                          </div>
                      </td>
                      <td>
                          <label class="control-label">Sub Group</label>
                      </td>
                      <td style="width:400px;">
                        <div class="controls">
                            <select class="span12" ng-model="item_subgroup_id"
                              ng-options="itemsubgroup.pk as itemsubgroup.fields.item_subgroup_name for itemsubgroup in itemsubgroups" ng-change="get_items()" autofocus >
                          </select>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
            </div>
          </div>
              
          
        </div>
        <div class="col-md-6">
            <div class="col-md-8 search pull-right input-group">
              <input tabindex="1" class="form-control" ng-model="search_text" placeholder="Search" type="search" ng-change="search()" /> 
            </div>
          </div>
          <div class="widget-body">
            <table class="table table-condensed table-striped table-hover no-margin">
              <thead>
                <tr>
                  <th style="width:20%">
                    Item Code
                  </th>
                  <th class="hidden-phone" style="width:20%">
                    Short Name
                  </th>
                  <th class="right-align-text hidden-phone" style="width:20%">
                    Item Name
                  </th>
                  <th>
                    Rack
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in item_details">
                  <td >
                    {[{x.item_code}]}
                  </td>
                  <td>
                    {[{x.item_short_code}]}
                  </td>
                  <td class="hidden-phone">
                    {[{x.item_description}]}
                  </td>
                  <td >
                     <select 
                        ng-model="x.rack_id" 
                        ng-options="rack.pk as rack.fields.rack_location for rack in racks" ng-click="save_mapping(x,x.rack_id)"autofocus ></select>
                  </td>
                  <!-- <td ng-if="!yes">
                   joseph
                  </td> -->
                  <td > </td>
                </tr>
                <tr ng-if="items.length==0">
                  <td colspan="7">No result found</td>
                </tr>
              </tbody>
            </table>
            <div class="col-md-12 pagination_div">
              <div class="dataTables_paginate paging_bootstrap pagination">
                <ul>
                  <li class="prev list_pagination" ng-if="cur_page>1">
                    <a href="#"  ng-click="prePage()">
                      <i class="fa fa-chevron-left" ></i>
                    </a>
                  </li>
                  <li class="active list_pagination">
                    <a href="#">{[{ cur_page }]}</a>
                  </li>
                  <li class="next list_pagination" ng-if="cur_page<total">
                    <a href="#" ng-click="nextPage()">
                       <i class="fa fa-chevron-right" ></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="dataTables_info noBorder">Goto Page <b>
                <input type="text" class="bigText" ng-model="cur_page" ng-blur="genPage()" id="page_no" tabindex="3"> </b> of {[{ total }]} pages
                <span class="padding10per">Showing <b>
                <input type="text" class="bigText" ng-model="per_page" ng-blur="genRecords()" id="per_page" tabindex="2"> </b> records per page</span>
              </div>
            </div>
          </div>
            </form>
            <!-- END FORM-->           
          </div>
        </div>
        <!-- END SAMPLE FORM widget-->
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <!-- BEGIN MAILBOX PORTLET-->
        
          <!-- END MAILBOX PORTLET-->
      </div>
    </div>
  </div>
</div>

{% endblock %}
