{% extends "kca/layout.html" %}
{% load staticfiles %}
{% block head %}
<link href="{% static 'assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css' %}" rel="stylesheet" />
<link href="{% static 'assets/bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet" />
<script src="{% static 'assets/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'assets/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript">

//    jQuery(document).ready(function() {
//       var today = new Date();
//       var dd1 = today.getDate();
//       var mm1 = today.getMonth();
//       var yy1 = today.getFullYear();
//     $('#quot_date').datepicker({format: 'dd/mm/yyyy', changeYear: true, maxDate: '2013-10-10'});
//     $('#quot_date').datepicker('option', 'maxDate', today);
//     $('#quot_date').data("DateTimePicker").maxDate(today);
//     $('.quot_date').datepicker({
//     endDate: '+1d'
// });

      // console.log(today);
      // $("#quot_date").datepicker({
      //       changeMonth: true,
      //       minDate: new Date(1914, 12, 31),
      //       maxDate: new Date(yy1, mm1, dd1),
      //       yearRange: '-100:+0',
      //       changeYear: true
      //       });

  // });
   jQuery(document).ready(function() {
    $('#rfq_date').datepicker({format: 'mm/dd/yyyy'});
  });
   jQuery(document).ready(function() {
    $('#quot_date').datepicker({format: 'mm/dd/yyyy'});
  });
</script>
<script src="{% static 'js/angular/store/custom.js' %}"></script>
{% endblock %}
{% block content %}
<div ng-app="store">
   <div id="wrapper" ng-controller="rfqController">
      <div class="alert alert-info" style="margin-top:25px;">
         Welcome to <strong>KCA Store Panel</strong>
      </div>
      <div class="widget">
         <div class="widget-title">
            <h4><i class="icon-globe"></i>Request For Quotation</h4>
         </div>
         <div class="alert alert-success alert_div" id="alert_div1" ng-if="alert_success">
         <button class="close" data-dismiss="alert"></button>
            {[{alert_success}]}
         </div>
         <div class="alert alert-danger alert_div" id ="alert_div1" ng-if="alert_failed">
            <button class="close" data-dismiss="alert" ></button>
            {[{alert_failed}]}
         </div>
         <div class="widget-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal">
               <div style="margin-left:250px;">
                  <div class="control-group">
                     <label class="control-label">RFQ No.</label>
                     <div class="controls">
                        <input type="text" class="span4" id="rfq_no" ng-model="rfq_no"  required="required" numbers-only="numbers-only"  maxlength="10" name="rfq_no"autofocus />
                     </div>
                     <div class="controls">
                        <span><label class="error" ng-if="rfq_no_error">{[{rfq_no_error}]}</label></span> 
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label">RFQ Date</label>
                        <div class="controls">
                          <input class="dp1 span4" type="text" data-provide="datepicker-inline" id="rfq_date" ng-model="rfq_date" n/><span class="add-on" style="margin-left:-17px;margin-top:3px;"><i class="icon-calendar"></i></span>   
                        </div>
                        <div class="controls">
                          <span><label class="error" ng-if="rfq_date_error">{[{rfq_date_error}]}</label></span> 
                        </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label">Submit Quotation Before</label>
                      <div class="controls">
                          <input class="dp1 span4" type="text" data-provide="datepicker-inline" id="quot_date" ng-model="quot_date" n/><span class="add-on" style="margin-left:-17px;margin-top:3px;"><i class="icon-calendar"></i></span>   
                        </div>
                        <div class="controls">
                          <span><label class="error" ng-if="quot_date_error">{[{quot_date_error}]}</label></span> 
                        </div>
                  </div>
               </div>
               <div style="border:0px solid #1FA6B1;border-radius:0px;padding:0px 0px 30px 0px;margin:40px 0 20px 0px">
                  <div class="control-group " style="margin:20px 10px 50px 90px;">
                     <table  style="border-radius:0px;border-collapse: collapse;width:800px;" id="tt" class="table table-condensed table-striped table-bordered table-hover">
                        <thead>
                           <tr id="thhead">
                              <th width="10%">
                                 Code
                              </th>
                              <th class="hidden-phone" width="20%">
                                 Short Name
                              </th>
                              <th class="right-align-text hidden-phone" width="50%">
                                 Item Name
                              </th>
                              <th class="right-align-text hidden-phone" width="20%">
                                 Req. Qty
                              </th>
                              <th ng:show="item_details.length>1"  class="right-align-text hidden-phone" width="2%">
                              </th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr id="boxtr" ng:repeat="item in item_details">
                              <td>
                                 <select 
                                     ng-model="item.item_code"
                                     ng-options="i.pk as i.fields.item_code for i in items" 
                                     ng-change="itemSelected($index,item.item_code)" autofocus >
                                 </select>                                 
                              </td>
                              <td>
                                 <select 
                                     ng-model="item.item_short_code"
                                     ng-options="i.pk as i.fields.item_short_code for i in items" ng-change="itemSelected($index,item.item_short_code)"  >
                                 </select>   
                              </td>
                              <td>
                                 <select
                                     ng-model="item.item_description"
                                     ng-options="i.pk as i.fields.item_description for i in items"  ng-change="itemSelected($index,item.item_description)">
                                 </select>  
                              </td>
                              <td class="hidden-phone">
                                 <input type="number" ng-model="item.req_quantity" min="1" ng-enter="addItem($index, item.item_description, item.req_quantity)" class="lastbx span12"/>
                              </td>
                              <td ng:show="item_details.length>1" class="ight-align-text hidden-phone">
                                 [<a href ng:click="removeItem($index)">X</a>]
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     <span><label class="error" ng-if="item_select_error">{[{item_select_error}]}</label></span>
                  </div>
               </div>
               <div class="control-group">
                  <label style="margin-left:10px;">Terms And Conditions</label>
                  <textarea class="span6" style="margin-left:10px;" id="terms" ng-model="terms"></textarea>
                  <!-- <input type="file" name="tandc" class="btn" /> -->
                  <input type="file" ng-file-select="selectFile(files)" multiple>
               </div>
               <div style="margin-left:10px;" class="control-group">
                Forward To :
                  <select   
                      ng-model="user_id" 
                      ng-options="user.pk as user.fields.user_name for user in users" autofocus ></select>
                  </select>
                  <span><label class="error" ng-if="user_select_error">{[{user_select_error}]}</label></span>
               {% if request.privileges.ADD_PERMITTED %}
                 <div class="form-actions" ng-show = "(!view_mode)" >
                    <button type="button" ng-click="save_rfq_details()" class="btn btn-success" id="frmsbt"style="float:right;margin-left:10px;" >Save</button>
                    <button type="button" ng-click= "clearForm()" class="btn" style="float:right;margin-left:10px;">Clear</button>
                 </div>
               {% else %}
                 <div ng-show = "edit_mode && (!view_mode)" class="form-actions" >
                    <button type="button" ng-click="save_rfq_details()" class="btn btn-primary" id="frmsbt" style="float:right;margin-left:10px;">Save</button>
                    <button  type="button" ng-click= "clearForm()" class="btn btn-primary" style="float:right;margin-left:10px;">Clear</button>
                 </div>
               {% endif %}
               </div>

               <p style="margin-top:10px;color:#f00;text-align:center" id="errormsg"></p>
            </form>
            <!-- END FORM-->           
         </div>
         <div class="row-fluid">
            <div class="span12">
               <!-- BEGIN MAILBOX PORTLET-->
               <div class="widget">
                  <div class="widget-title">
                     <h4><i class="icon-user"></i>&nbsp;Edit/Delete</h4>
                     <span class="tools">
                     <a href="javascript:;" class="icon-chevron-down"></a>
                     </span>
                  </div>
                  <div class="widget-body">
                     <table class="table table-condensed table-striped table-hover no-margin">
                        <thead>
                           <tr>
                              <th style="width:17%">
                                 RFQ No.
                              </th>
                              <th class="hidden-phone" style="width:12%">
                                 RFQ Date
                              </th>
                              <th class="right-align-text hidden-phone" style="width:12%">
                                 Last Submission date
                              </th>
                              {% if request.privileges.EDIT_PERMITTED %}
                              <th class="right-align-text hidden-phone" style="width:12%">
                                 Edit
                              </th>
                              {% endif %}
                              {% if request.privileges.DELETE_PERMITTED %}
                              <th class="right-align-text hidden-phone" style="width:12%">
                                 Delete
                              </th>
                              {% endif %}
                              {% if request.privileges.VIEW_PERMITTED %}
                              <th class="right-align-text hidden-phone" style="width:12%">
                                 View
                              </th>
                              {% endif %}
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="rfq in rfq_details">
                              <td>
                                 {[{rfq.fields.rfq_no}]}
                              </td>
                              <td>
                                 {[{rfq.fields.rfq_date}]}
                              </td>
                              <td class="hidden-phone">
                                 {[{rfq.fields.rfq_last_date}]} 
                              </td>
                              {% if request.privileges.EDIT_PERMITTED %}
                              <td class="right-align-text hidden-phone">
                                 <button class="btn btn-primary" ng-click="edit_rfq(rfq.pk)"><i class="icon-edit icon-white"></i>Edit</button>
                              </td>
                              {% endif %}
                              {% if request.privileges.DELETE_PERMITTED %}
                              <td  class="right-align-text hidden-phone">
                                 <button class="btn btn-danger" ng-click="delete_rfq(rfq.pk)"><i class="icon-remove icon-white"></i> Delete</button>
                              </td>
                              {% endif %}
                              {% if request.privileges.VIEW_PERMITTED %}
                              <td class="right-align-text hidden-phone">
                                <button class="btn btn-inverse" ng-click="view_rfq(rfq.pk)"><i class="icon-list icon-white"></i> View</button>
                                </td>
                              {% endif %}


                           </tr>
                        </tbody>
                     </table>
                       <div class="col-md-12 pagination_div">
                  <div class="dataTables_paginate paging_bootstrap pagination">
                    <ul>
                      <li class="prev list_pagination" ng-if="cur_page>1">
                        <a href="#"  ng-click="prePage()">
                          <i class="fa fa-chevron-left" ></i>
                        </a>
                      </li>
                      <li class="active list_pagination">
                        <a href="#">{[{ cur_page }]}</a>
                      </li>
                      <li class="next list_pagination" ng-if="cur_page<total">
                        <a href="#" ng-click="nextPage()">
                           <i class="fa fa-chevron-right" ></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="dataTables_info noBorder">Goto Page <b>
                    <input type="text" class="bigText" ng-model="cur_page" ng-blur="genPage()" id="page_no" tabindex="3"> </b> of {[{ total }]} pages
                    <span class="padding10per">Showing <b>
                    <input type="text" class="bigText" ng-model="per_page" ng-blur="genRecords()" id="per_page" tabindex="2"> </b> records per page</span>
                  </div>
                </div>
                  </div>
               </div>
               <!-- END MAILBOX PORTLET-->
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}