{% extends "kca/layout.html" %}
{% load staticfiles %}

{% block content %}
<div id="wrapper" ng-controller="passwordController">
     <div class="widget" >
          <div class="widget-title">
	          <h4><i class="icon-edit"></i>&nbsp;Change Password</h4>
	          </div>
	       <div class="alert alert-success alert_div" id="alert_div1" ng-if="alert_success">
	         <button class="close" data-dismiss="alert"></button>
	         {[{alert_success}]}
	      </div>
	      <div class="alert alert-danger alert_div" id ="alert_div1" ng-if="alert_failed">
	         <button class="close" data-dismiss="alert" ></button>
	         {[{alert_failed}]}
	      </div>

             <div class="widget-body form">
                <form id="change_password_form" class="form-horizontal" method="POST" action="javascript:void(0);">
                           <div style="margin-left:240px;">
                           <div class="control-group">
                              <label class="control-label">Old Password</label>
                              <div class="controls">
                                 {{ password_change_form.old_password }}
                       			 <span class="error col-md-12" name="old_password"></span>
                              </div>
                           </div>
                          <div class="control-group">
                              <label class="control-label">New Password</label>
                              <div class="controls">
                                 {{ password_change_form.new_password1 }}
                              <span class="error col-md-12" name="new_password1"></span>
                              </div>
                           </div>
                           <div class="control-group">
                              <label class="control-label">Re-type Password</label>
                              <div class="controls">
                                 {{ password_change_form.new_password2 }}      
                                 <span class="error col-md-12" name="new_password2"></span>
                              </div>
                           </div>
                          </div>
                          <p style="margin-top:10px;color:#f00;text-align:center" id="errormsg"></p>
                            <div class="form-actions">
                              <button type="submit" class="btn btn-success" id="frmsbt" ng-click="change_password();" style="margin-left:242px;">Save</button>
                              <button type="button" class="btn" ng-click="clearForm()">Clear</button>
                           </div>

                        </form>

             </div>
          </div>
  </div>

{% endblock %}