<!DOCTYPE html>
<html lang="en">

	<head>
<!--
Template Name: Admin Lab Dashboard build with Bootstrap v2.3.1
Template Version: 1.2
Author: Mosaddek Hossain
Website: http://thevectorlab.net/
-->

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
		<meta charset="utf-8" />
		<title>KCA-Login page</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />
    	{% load static %}

		<link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
		<link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
		<link href="{% static 'css/style.css' %}" rel="stylesheet" />
		<link href="{% static 'css/style_responsive.css' %}" rel="stylesheet" />
		<link href="{% static 'css/style_default.css' %}" rel="stylesheet" id="style_color" />

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body id="login-body">
  

  <!-- BEGIN LOGIN -->
  <div id="login" style="margin:170px 0 0 150px;">
    <!-- BEGIN LOGIN FORM -->
    <form id="loginform" class="form-vertical no-padding no-margin" action=" "method="POST">{% csrf_token %}
      <div class="lock">
          <i class="icon-lock"></i>
      </div>
      <div class="control-wrap">
          <h4>User Login</h4>
          <div class="control-group" style="margin-bottom:1px;">
              <div class="controls">
                  <div class="input-prepend">
                      <span class="add-on"><i class="icon-user"></i></span><input id="input-username" type="text" placeholder="Email" name="username"/>
                  </div>
              </div>
          </div>
           <div class="control-group" style="margin-bottom:1px;">
              <div class="controls">
                  <div class="input-prepend">
                      <span class="add-on"><i class="icon-key"></i></span><input id="input-username" type="password" placeholder="Password" name="password"/>
                  </div>
              </div>
          </div>
          <div class="control-group">
              <div class="controls">
                  <div class="mtop10">
                      <div class="block-hint pull-right">
                          <a href="javascript:;" class="" id="forget-password">Forgot Password?</a>
                      </div>
                  </div>

                  <div class="clearfix space5"></div>
              </div>

          </div>
      </div>

      <input type="submit" id="login-btn" class="btn btn-block login-btn" value="Login"/>
    </form>
    <!-- END LOGIN FORM -->        
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form id="forgotform" class="form-vertical no-padding no-margin hide" action="index.html">
      <p class="center">Enter your e-mail address below to reset your password.</p>
      <div class="control-group">
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span><input id="input-email" type="text" placeholder="Email"  />
          </div>
        </div>
        <div class="space20"></div>
      </div>
      <input type="button" id="forget-btn" class="btn btn-block login-btn" value="Submit" />
    </form>
    <!-- END FORGOT PASSWORD FORM -->
  </div>
  <div style="margin:-237px 0 200px 600px;">
<img src="/static/img/logo-white.png" alt="logo"/>



  </div>
  <!-- END LOGIN -->
  <!-- BEGIN COPYRIGHT -->
  <div id="login-copyright">
      2015 &copy; DBSSPL.
  </div>
  <!-- END COPYRIGHT -->
  <!-- BEGIN JAVASCRIPTS -->

  <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.blockui.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  <script>
    jQuery(document).ready(function() {     
      App.initLogin();
    });
  </script>
 
  <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>