{% extends "kca/layout.html" %}
{% load staticfiles %}
{% block head %}
<script src="{% static 'js/angular/administration/custom.js' %}"></script>
{% endblock %}
{% block content %}
<div ng-app = "administration">
<div id="wrapper" ng-controller="branchController">
    <div class="alert alert-info" style="margin-top:25px;">
         Welcome to <strong>KCA Admin Panel</strong>
    </div>
   <div class="widget">
      <div class="widget-title">
         <h4><i class="icon-globe"></i>Add Branches</h4>
      </div>
      <div class="alert alert-success alert_div" id="alert_div1" ng-if="alert_success">
         <button class="close" data-dismiss="alert"></button>
         {[{alert_success}]}
      </div>
      <div class="alert alert-danger alert_div" id ="alert_div1" ng-if="alert_failed">
         <button class="close" data-dismiss="alert" ></button>
         {[{alert_failed}]}
      </div>
      <div class="widget-body form">
         <!-- BEGIN FORM-->
         <form action="#" class="form-horizontal" name="branch_form" >
            <div style="margin-left:240px;">
               <div class="control-group">
                  <label class="control-label">Branch Code</label>
                  <div class="controls">
                     <input type="text" class="span2" id="branch_code"  maxlength="3" ng-model="branch_code" name="branch_code"autofocus/>
                  </div>        
                <div class="controls">
                  <span><label class="error" ng-if="branch_code_error">{[{branch_code_error}]}</label></span> 
                </div>

               </div>
               <div class="control-group">
                  <label class="control-label">Branch Name</label>
                  <div class="controls">
                     <input type="text" class="span6" id="branch_name" maxlength="100" ng-model="branch_name" name="branch_name"/>
                  </div>
                <div class="controls">
                  <span><label class="error" ng-if="branch_name_error">{[{branch_name_error}]}</label></span> 
                </div>
               </div>
               <div class="control-group">
                  <label class="control-label">Address</label>
                  <div class="controls" style="margin-bottom:10px;">
                     <input type="text" class="span6 " id="add1"  maxlength="50" ng-model="add1"/>
                  </div>
                  <div class="controls" style="margin-bottom:10px;">
                     <input type="text" class="span6 " id="add2"  maxlength="50" ng-model="add2"/>
                  </div>
                  <div class="controls">
                     <input type="text" class="span6 " id="add3" maxlength="50" ng-model="add3"/>
                  </div>
               </div>
               <div class="control-group">
                  <label class="control-label">Phone</label>
                  <div class="controls">
                     <input type="text" class="span6 "  id="branch_phone"  maxlength="50" name="branch_phone" ng-model="branch_phone"/>
                  </div>
               </div>
               <label class="label" style="margin:20px 0 20px 0px;">Address in Reports</label>
               <div class="control-group">
                  <label class="control-label">Address</label>
                  <div class="controls" style="margin-bottom:10px;">
                     <input type="text" class="span6 " id="radd1" maxlength="50" ng-model="radd1"/>
                  </div>
                  <div class="controls">
                     <input type="text" class="span6 " id="radd2" maxlength="50" ng-model="radd2" />
                  </div>
               </div>
               <div class="control-group">
                  <label class="control-label">Headoffice</label>
                  <div class="controls">
                     <input type="checkbox" ng-model="is_head_office" ng-init="is_head_office=false"/>
                  </div>
                  <div class="controls">
                  <span><label class="error" ng-if="head_office_exists_error">{[{head_office_exists_error}]}</label></span> 
                </div>

               </div>
            </div>
            <p style="margin-top:10px;color:#f00;text-align:center" id="errormsg"></p>
                      
            {% if request.privileges.ADD_PERMITTED %}
              <div class="form-actions" ng-show = "(!view_mode)" >
                 <button type="button" ng-click="save_branch()" class="btn btn-success" id="frmsbt" style="margin-left:240px;">Save</button>
                 <button type="button" ng-click= "clear_form_fields()" class="btn">Clear</button>
              </div>
            {% else %}
              <div ng-show = "edit_mode && (!view_mode)" class="form-actions" >
                 <button type="button" ng-click="save_branch()" class="btn btn-success" id="frmsbt" style="margin-left:240px;">Save</button>
                 <button type="button" ng-click= "clear_form_fields()" class="btn">Clear</button>
              </div>
            {% endif %}
         </form>
         <!-- END FORM-->           
      </div>
   </div>
   <div class="row-fluid">
      <div class="dividerr"></div>
   </div>
   <div class="row-fluid">
      <div class="span12">
         <div class="widget">
            <div class="widget-title">
              <h4><i class="icon-user"></i>&nbsp;Manage Branches</h4>
              <span class="tools">
                <a href="javascript:;" class="icon-chevron-down"></a>
              </span>
            </div>

            <div class="col-md-6">
              <div class="col-md-8 search pull-right input-group">
                <input tabindex="1" class="form-control" ng-model="search_text" placeholder="Search Branch code or name" type="search" ng-change="search()" /> 
              </div>
            </div>
            <div class="widget-body">
               <table class="table table-condensed table-striped table-hover no-margin">
                  <thead>
                     <tr>
                        <th style="width:17%">
                           Branch Code
                        </th>
                        <th class="hidden-phone" style="width:12%">
                           Branch Name
                        </th>
                        <th class="right-align-text hidden-phone" style="width:12%">
                           Address
                        </th>
                        {% if request.privileges.EDIT_PERMITTED %}
                          <th class="right-align-text hidden-phone" style="width:12%">
                             Edit
                          </th>
                        {% endif %}
                        {% if request.privileges.DELETE_PERMITTED %}
                          <th class="right-align-text hidden-phone" style="width:12%">
                             Delete
                          </th>
                        {% endif %}
                        {% if request.privileges.VIEW_PERMITTED %}
                          <th class="right-align-text hidden-phone" style="width:12%">
                             View
                          </th>
                        {% endif %}
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="branch in branches">
                        <td>
                           {[{branch.fields.branch_shortname}]}
                        </td>
                        <td>
                           {[{branch.fields.branch_name}]}
                        </td>
                        <td>
                           {[{branch.fields.branch_addressline1+","+branch.fields.branch_addressline2+","+branch.fields.branch_addressline3}]}
                        </td>
                        {% if request.privileges.EDIT_PERMITTED %}
                        <td class="right-align-text hidden-phone">
                           <button class="btn btn-primary" ng-click="edit_branch(branch.pk)"><i class="icon-edit icon-white"></i>Edit</button>
                        </td>
                        {% endif %}
                        {% if request.privileges.DELETE_PERMITTED %}
                        <td  class="right-align-text hidden-phone">
                           <button class="btn btn-danger" ng-click="delete_branch(branch.pk)"><i class="icon-remove icon-white"></i> Delete</button>
                        </td>
                        {% endif %}
                        {% if request.privileges.VIEW_PERMITTED %}
                          <td class="right-align-text hidden-phone">
                             <button class="btn btn-inverse" ng-click="view_branch(branch.pk)"><i class="icon-list icon-white"></i> View</button>
                          </td>
                        {% endif %}
                     </tr>
                  </tbody>
               </table>
                <div class="col-md-12 pagination_div">
                  <div class="dataTables_paginate paging_bootstrap pagination">
                    <ul>
                      <li class="prev list_pagination" ng-if="cur_page>1">
                        <a href="#"  ng-click="prePage()">
                          <i class="fa fa-chevron-left" ></i>
                        </a>
                      </li>
                      <li class="active list_pagination">
                        <a href="#">{[{ cur_page }]}</a>
                      </li>
                      <li class="next list_pagination" ng-if="cur_page<total">
                        <a href="#" ng-click="nextPage()">
                           <i class="fa fa-chevron-right" ></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="dataTables_info noBorder">Goto Page <b>
                    <input type="text" class="bigText" ng-model="cur_page" ng-blur="genPage()" id="page_no" tabindex="3"> </b> of {[{ total }]} pages
                    <span class="padding10per">Showing <b>
                    <input type="text" class="bigText" ng-model="per_page" ng-blur="genRecords()" id="per_page" tabindex="2"> </b> records per page</span>
                  </div>
                </div>
            </div>
         </div>
         <!-- END MAILBOX PORTLET-->
      </div>
   </div>
</div>
</div>
{% endblock %}