{% extends "kca/layout.html" %}
{% load staticfiles %}
{% block head %}
<link href="{% static 'assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css' %}" rel="stylesheet" />
<link href="{% static 'assets/bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet" />
<!-- <link href="{% static 'assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet" /> -->
<script type="text/javascript">
  $( document ).ready(function() {
        setTimeout(function () {
          $("#alert_div1").hide();
            }, 3000);
    });
   jQuery(document).ready(function() {
    $('.dp1').datepicker({format: 'dd/mm/yyyy'});
  });

</script>
<script src="{% static 'assets/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'assets/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>

<script src="{% static 'js/angular/administration/custom.js' %}"></script>

{% endblock %}
{% block content %}
<div ng-app = "administration">
  <div id="wrapper" ng-controller="Administartion_UserController">
      <div class="alert alert-info" style="margin-top:25px;">
         Welcome to <strong>KCA Admin Panel</strong>
      </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget">
          <div class="widget-title">
            <h4><i class="icon-user"></i>&nbsp;Manage Users</h4>
          </div>
          <div class="alert alert-success alert_div" id="alert_div1" ng-if="alert_success">
              <button class="close" data-dismiss="alert"></button>
              {[{alert_success}]}
          </div>
          <div class="alert alert-danger alert_div" id ="alert_div1" ng-if="alert_failed">
            <button class="close" data-dismiss="alert" ></button>
            {[{alert_failed}]}
          </div>
          <div class="widget-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="form-horizontal">
              <div style="margin-left:240px;">
               <div class="control-group">
                  <label class="control-label">User Name</label>
                  <div class="controls">
                     <input type="text" class="span6" id="uname" name="username" required ng-model="username" autofocus maxlength="150"/>
                  </div>
                  <div class="controls">
                    <span><label class="error" ng-if="username_error">{[{username_error}]}</label></span> 
                  </div>
               </div>
                <div class="control-group">
                  <label class="control-label">Address</label>
                  <div class="controls" style="margin-bottom:10px;">
                     <input type="text" class="span6 " id="addr1" ng-model="address1" maxlength="50"/>
                  </div>
                  <div class="controls" style="margin-bottom:10px;">
                     <input type="text" class="span6"  id="addr2" ng-model="address2" maxlength="50"/>
                  </div>
               </div>
               <div class="control-group">
                  <label class="control-label">Phone</label>
                  <div class="controls">
                     <input type="text" class="span6" id="uph" required ng-model="phone" maxlength="50"/>
                  </div>
               </div>
                <div class="control-group">
                  <label class="control-label">Email</label>
                  <div class="controls">
                   <div class="input-icon left">
                        <i class="icon-envelope"></i>
                        <input class="" placeholder="Email Address" id="uemail" maxlength="100"type="email" required ng-model="email">    
                     </div>
                  </div>
                  <div class="controls">
                    <span><label class="error" ng-if="email_error">{[{email_error}]}</label></span> 
                  </div>
               </div>
               <div class="control-group" ng-if="edit==1">
                  <label class="control-label">Active</label>
                  <div class="controls">
                     <input type="checkbox" id="ustat" name="ustat" ng-checked="is_active" ng-model="is_active" ng-click="user_activate()"/>
                  </div>
               </div>
            <div id="branch-module">
              <div style="width:300px;margin:0 0 0 -100px;" ng-if="edit==1">
                <table class="table table-bordered table-condensed table-striped table-hover no-margin">
                        <thead>
                        <tr >
                           <th style="width:1%">
                              <input type="checkbox"  ng-model="selectall_branch" ng-click="selectall_branches()"name="animal" />
                            </th>
                            <th class="hidden-phone" style="width:10%">
                                Branches Permitted
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in branches">
                            <td>
                              <input id="{{x.pk}}" type="checkbox" value="{{x.fields.branch_name}}" ng-checked="branch_selection.indexOf(x.pk) > -1" ng-click="br_toggleSelection(x.pk)" name="animal" />
                          </td>
                          <td>
                            {[{x.fields.branch_name}]}
                          </td>
                           
                        </tr>
                        </tbody>
              </table>
            </div>
               <div style="width:300px;margin:-116px 0px 0 350px;" ng-if="edit==1">

                    <table class="table table-bordered table-condensed table-striped table-hover no-margin">
                        <thead>
                        <tr>
                           <th style="width:1%">
                               <input type="checkbox"  ng-model="selectall_module" ng-click="selectall_modules()"/>
                            </th>
                            <th class="hidden-phone" style="width:10%">
                                Modules Permitted
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in modules ">
                          <td>

                              <input id="{{x.pk}}" type="checkbox" value="{{x.fields.module_name}}" ng-checked="module_selection.indexOf(x.pk) > -1" ng-click="mod_toggleSelection(x.pk)" />

                              <!--  <input id="{{x.pk}}" type="checkbox" value="{{x.fields.module_name}}" ng-checked="module_selection.indexOf(x.pk) > -1" ng-click="mod_toggleSelection(x.pk)" ng-if="check_module(x.pk) ==-1"/> -->
                          </td>
                          <td>
                            {[{x.fields.module_name}]}
                          </td>
                        </tr>
                        </tbody>
                    </table>
               </div>
               <div style="width:300px;margin:0 0 0 -100px;" ng-if="edit==0">
                <table class="table table-bordered table-condensed table-striped table-hover no-margin">
                        <thead>
                        <tr >
                           <th style="width:1%">
                              <input type="checkbox"  ng-model="selectall_branch" ng-click="selectall_branches()" />
                            </th>
                            <th class="hidden-phone" style="width:10%">
                                Branches Permitted
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in branches">
                            <td>
                              <input id="{{x.pk}}" type="checkbox" value="{{x.fields.branch_name}}" ng-checked="branch_selection.indexOf(x.pk) > -1" ng-click="br_toggleSelection(x.pk)" />
                          </td>
                          <td>
                            {[{x.fields.branch_name}]}
                          </td>
                           
                        </tr>
                        </tbody>
              </table>
            </div>
               <div style="width:300px;margin:-116px 0px 0 350px;" ng-if="edit==0">

                    <table class="table table-bordered table-condensed table-striped table-hover no-margin">
                        <thead>
                        <tr>
                           <th style="width:1%">
                               <input type="checkbox"  ng-model="selectall_module" ng-click="selectall_modules()"/>
                            </th>
                            <th class="hidden-phone" style="width:10%">
                                Modules Permitted
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in modules">
                          <td>
                              <input id="{{x.pk}}" type="checkbox" value="{{x.fields.module_name}}" ng-checked="module_selection.indexOf(x.pk) > -1" ng-click="mod_toggleSelection(x.pk)" />
                          </td>
                          <td>
                            {[{x.fields.module_name}]}
                          </td>
                        </tr>
                        </tbody>
                    </table>
               </div>
               </div><!-- branch module-->
               </div>
              <p style="margin-top:10px;color:#f00;text-align:center" id="errormsg"></p>
              {% if request.privileges.ADD_PERMITTED %}
               <div class="form-actions" ng-show = "(!view_mode)">
                  <button type="button" class="btn btn-success" id="frmsbt" style="margin-left:240px;" ng-click="save_user()">Save</button>
                  <button type="button" class="btn" ng-click="clear_form_fields()">Clear</button>
               </div>
               {% else %}
               <div ng-show = "edit_mode && (!view_mode)" class="form-actions" >
                <button type="button" class="btn btn-success" id="frmsbt" style="margin-left:240px;" ng-click="save_user()">Save</button>
                  <button type="button" class="btn" ng-click="clear_form_fields()">Clear</button>
              </div>
              {% endif %}
            </form>
            <!-- END FORM-->           
          </div>
        </div>
        <!-- END SAMPLE FORM widget-->
      </div>
    </div>


      <div class="row-fluid">
      <div class="dividerr"></div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <!-- BEGIN MAILBOX PORTLET-->
        <div class="widget">
          <div class="widget-title">
            <h4><i class="icon-user"></i>&nbsp;Manage Users</h4>
            <span class="tools">
              <a href="javascript:;" class="icon-chevron-down"></a>
            </span>
          </div>
          <div class="col-md-6">
            <div class="col-md-8 search pull-right input-group">
              <input tabindex="1" class="form-control" ng-model="search_text" placeholder="Search " type="search" ng-change="search()" /> 
              <!-- <span class="input-group-addon">
              <i class="fa fa-search"></i>
              </span> -->
            </div>
          </div>
          <div class="widget-body">
            <table class="table table-condensed table-striped table-hover no-margin">
              <thead>
                <tr>
                  <th style="width:17%">
                    Email Id
                  </th>
                  <th class="hidden-phone" style="width:12%">
                    Username
                  </th>
                  <th class="right-align-text hidden-phone" style="width:12%">
                    Address
                  </th>
                  {% if request.privileges.EDIT_PERMITTED %}
                  <th class="right-align-text hidden-phone" style="width:12%">
                    Edit
                  </th>
                  {% endif %}
                  {% if request.privileges.DELETE_PERMITTED %}
                  <th class="right-align-text hidden-phone" style="width:12%">
                    Delete
                  </th>
                   {% endif %}
                  {% if request.privileges.VIEW_PERMITTED %}
                  <th class="right-align-text hidden-phone" style="width:12%">
                    View
                  </th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in users">
                  <td>
                    {[{x.fields.user.fields.email}]}
                  </td>
                  <td>
                    {[{x.fields.user.fields.first_name}]}
                  </td>
                  <td class="hidden-phone">
                    {[{x.fields.address1}]}
                  </td>
                  {% if request.privileges.EDIT_PERMITTED %}
                  <td class="right-align-text hidden-phone">
                    <button class="btn btn-primary" ng-click="edit_user(x.pk)"><i class="icon-pencil icon-white"></i>Edit</button>
                  </td>
                  {% endif %}
                  {% if request.privileges.DELETE_PERMITTED %}
                  <td class="right-align-text hidden-phone">
                    <button class="btn btn-danger" ng-click="delete_user(x.pk)"><i class="icon-remove icon-white"></i> Delete</button>
                  </td>
                  {% endif %}
                  {% if request.privileges.VIEW_PERMITTED %}
                  <td class="right-align-text hidden-phone">
                      <button class="btn btn-inverse" ng-click="view_user(x.pk)"><i class="icon-list icon-white"></i> View</button>
                  </td>
                  {% endif %}
                </tr>
                <tr ng-if="users.length==0">
                  <td colspan="7">No result found</td>
                </tr>
              </tbody>
            </table>
            <div class="col-md-12 pagination_div">
              <div class="dataTables_paginate paging_bootstrap pagination">
                <ul>
                  <li class="prev list_pagination" ng-if="cur_page>1">
                    <a href="#"  ng-click="prePage()">
                      <i class="fa fa-chevron-left" ></i>
                    </a>
                  </li>
                  <li class="active list_pagination">
                    <a href="#">{[{ cur_page }]}</a>
                  </li>
                  <li class="next list_pagination" ng-if="cur_page<total">
                    <a href="#" ng-click="nextPage()">
                       <i class="fa fa-chevron-right" ></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="dataTables_info noBorder">Goto Page <b>
                <input type="text" class="bigText" ng-model="cur_page" ng-blur="genPage()" id="page_no" tabindex="3"> </b> of {[{ total }]} pages
                <span class="padding10per">Showing <b>
                <input type="text" class="bigText" ng-model="per_page" ng-blur="genRecords()" id="per_page" tabindex="2"> </b> records per page</span>
              </div>
            </div>
          </div>
        </div>
          <!-- END MAILBOX PORTLET-->
      </div>
    </div>
  </div>
</div>
{% endblock %}