{% extends "kca/layout.html" %}
{% load staticfiles %}
{% block head %}
<script src="{% static 'js/angular/administration/custom.js' %}"></script>
{% endblock %}
{% block content %}
<div ng-app = "administration">
  <div id="wrapper" ng-controller="userPermissionController">
      <div class="alert alert-info" style="margin-top:25px;">
         Welcome to <strong>KCA Admin Paw3nel</strong>
      </div>
    <div class="widget">
       <div class="widget-title">
          <h4><i class="icon-user"></i>&nbsp;Permissions</h4>
       </div>
       <div class="alert alert-success alert_div" id="alert_div1" ng-if="alert_success">
           <button class="close" data-dismiss="alert"></button>
           {[{alert_success}]}
        </div>
        <div class="alert alert-danger alert_div" id ="alert_div1" ng-if="alert_failed">
           <button class="close" data-dismiss="alert" ></button>
           {[{alert_failed}]}
        </div>

       <div class="row-fluid">
          <div class="span12">
             <div class="widget">
                <div class="col-md-6">
                   <div class="col-md-8 search pull-right input-group">
                      <input tabindex="1" class="form-control" ng-model="search_text" placeholder="Search user" type="search" ng-change="search()" /> 
                   </div>
                </div>
                <div class="widget-body">
                   <table class="table table-condensed table-striped table-hover no-margin">
                      <thead>
                         <tr>
                            <th style="width:17%">
                               User Name
                            </th>
                            <th class="hidden-phone" style="width:12%">
                               Email
                            </th>
                            <th class="right-align-text hidden-phone" style="width:12%">
                               Address
                            </th>
                            <th class="right-align-text hidden-phone" style="width:12%">
                               Permission
                            </th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr ng-repeat="_user in users">
                            <td>
                               {[{_user.fields.user_name}]}
                            </td>
                            <td>
                               {[{_user.fields.email_id}]}
                            </td>
                            <td>
                               {[{_user.fields.address1+","+_user.fields.address1}]}
                            </td>
                            <td class="right-align-text hidden-phone">
                               <button class="btn btn-primary" ng-click="edit_permission(_user.pk)"><i class="icon-pencil icon-white"></i>Give permission</button>
                            </td>
                         </tr>
                      </tbody>
                   </table>
                   <div class="col-md-12 pagination_div">
                      <div class="dataTables_paginate paging_bootstrap pagination">
                         <ul>
                            <li class="prev list_pagination" ng-if="cur_page>1">
                               <a href="#"  ng-click="prePage()">
                               <i class="fa fa-chevron-left" ></i>
                               </a>
                            </li>
                            <li class="active list_pagination">
                               <a href="#">{[{ cur_page }]}</a>
                            </li>
                            <li class="next list_pagination" ng-if="cur_page<total">
                               <a href="#" ng-click="nextPage()">
                               <i class="fa fa-chevron-right" ></i>
                               </a>
                            </li>
                         </ul>
                      </div>
                      <div class="dataTables_info noBorder">Goto Page <b>
                         <input type="text" class="bigText" ng-model="cur_page" ng-blur="genPage()" id="page_no" tabindex="3"> </b> of {[{ total }]} pages
                         <span class="padding10per">Showing <b>
                         <input type="text" class="bigText" ng-model="per_page" ng-blur="genRecords()" id="per_page" tabindex="2"> </b> records per page</span>
                      </div>
                   </div>
                </div>
             </div>
             <!-- END MAILBOX PORTLET-->
          </div>
       </div>
       <div class="widget-body form">
          <!-- BEGIN FORM-->
  <!--         <div style="margin:10px 0 40px 270px;">
             <p style="display:inline;">Copy User Rights From</p>
             <select>
                <option>User A</option>
                <option>User B</option>
                <option>User C</option>
                <option>User D</option>
             </select>
          </div> -->
          <form ng-show="module_details.length>0" class="form-horizontal">
             <div style="width:900px;margin:0 0 0 40px;">
                <div id="accordion" class="panel-group">
                   <div class="panel panel-default">
                      <div id = "modules" ng-repeat="module in module_details">
                        <div class="panel-heading" id="ppp">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#{[{$index}]}"> {[{module.module_name}]}</a>
                              <b class="caret2"></b>
                           </h4>
                        </div>

                        <div id={[{$index}]} ng-class="$index==0 ? 'panel-collapse collapse in' : 'panel-collapse collapse'" >
                           <div class="panel-body">
                              <table class="table table-bordered table-condensed table-striped table-hover no-margin">
                                 <thead>
                                    <tr>
                                       <th class="hidden-phone" style="width:10%">
                                          Menu Name
                                       </th>
                                       <th class="hidden-phone" style="width:5%">
                                        <!--   <input type="checkbox"  ng-model="selectall_add" ng-click="selectall_add_permissions(module.module_name, 'add_permitted')" /> -->
                                          Add
                                       </th>
                                       <th class="hidden-phone" style="width:5%">
                                          Edit
                                       </th>
                                       <th class="hidden-phone" style="width:5%">
                                          Delete
                                       </th>
                                       <th class="hidden-phone" style="width:5%">
                                          View
                                       </th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr ng-repeat="menu in module.menus">
                                       <td class="hidden-phone">
                                          {[{menu.menu_name}]}
                                       </td>
                                       <td class="hidden-phone">
                                          <input  type="checkbox"  ng-checked={[{menu.add_permitted}]} 
                                          ng-click="toggleSelection(module.module_id,menu.menu_id,'add_permitted')"/>
                                       </td>
                                       <td class="hidden-phone">
                                          <input  type="checkbox" ng-checked={[{menu.edit_permitted}]} ng-click="toggleSelection(module.module_id,menu.menu_id,'edit_permitted')" />
                                       </td>
                                       <td class="hidden-phone">
                                          <input  type="checkbox" ng-checked={[{menu.delete_permitted}]}  ng-click="toggleSelection(module.module_id,menu.menu_id,'delete_permitted')" />
                                       </td>
                                       <td class="hidden-phone">
                                          <input  type="checkbox" ng-checked={[{menu.view_permitted}]} ng-click="toggleSelection(module.module_id,menu.menu_id,'view_permitted')" />
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                        </div>
                   </div>
                </div>
             </div>
             <div class="form-actions">
                <button type="submit" class="btn btn-success" ng-click="save_permissions()" style="margin-left:600px; width=150px;">Save</button>
             </div>
          </form>
          <!-- END FORM-->           
       </div>
    </div>
  </div>
</div>
{% endblock %}