<!DOCTYPE html>
<html lang="en" >
   <head>
      {% load staticfiles %}
      <meta charset="utf-8" />
      <title>KCA</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta content="width=device-width, initial-scale=1.0" name="viewport" />
      <meta content="" name="description" />
      <meta content="" name="author" />
      <link href="{% static 'assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet" />
      <link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
      <link href="{% static 'css/style.css' %}" rel="stylesheet" />
      <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
      <link href="{% static 'css/style_responsive.css' %}" rel="stylesheet" />
      <link href="{% static 'css/style_default.css' %}" rel="stylesheet" />
      <link href="{% static 'assets/bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet" />
      <link href="{% static 'assets/fancybox/source/jquery.fancybox.css' %}" rel="stylesheet" />
      <link href="{% static 'assets/uniform/css/uniform.default.css' %}" rel="stylesheet" />
      <link href="{% static 'assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css' %}" rel="stylesheet" />
      <link href="{% static 'assets/jqvmap/jqvmap/jqvmap.css' %}" rel="stylesheet" />
      <link href="{% static 'font-awesome-4.1.0/css/font-awesome.css' %}" media="screen" rel="stylesheet" type="text/css"/>
      <!-- <link href="{% static 'plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css"/> -->
      <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/jquery.blockui.js' %}"></script>
      <!--<script src="{% static 'js/scripts.js' %}"></script>-->
      <!-- Angular Js -->
      <script src=" {% static 'js/angular.min.js' %}"></script>
      <script src="{% static 'js/bootbox.min.js' %}" type="text/javascript"></script>​​​
      <script src="{% static 'assets/data-tables/jquery.dataTables.js' %}" type="text/javascript"></script>
      <script src="{% static 'assets/data-tables/DT_bootstrap.js' %}" type="text/javascript"></script>
      <script src="{% static 'assets/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'assets/jqvmap/jqvmap/jquery.vmap.js' %}" type="text/javascript"></script>
      <script src="{% static 'assets/jqvmap/jqvmap/maps/jquery.vmap.russia.js' %}" type="text/javascript"></script>
      <script src="{% static 'assets/jqvmap/jqvmap/maps/jquery.vmap.world.js' %}" type="text/javascript"></script>
      <script src="{% static 'assets/jqvmap/jqvmap/maps/jquery.vmap.europe.js' %}" type="text/javascript"></script>
      <script src="{% static 'assets/jqvmap/jqvmap/maps/jquery.vmap.germany.js' %}" type="text/javascript"></script>
      <script src="{% static 'assets/jqvmap/jqvmap/maps/jquery.vmap.usa.js' %}" type="text/javascript"></script>
      <script src="{% static 'assets/jqvmap/jqvmap/data/jquery.vmap.sampledata.js' %}" type="text/javascript"></script>
      <script src="{% static 'assets/jquery-knob/js/jquery.knob.js' %}"></script>
      <script src="{% static 'assets/flot/jquery.flot.js' %}"></script>
      <script src="{% static 'assets/flot/jquery.flot.resize.js' %}"></script>
      <script src="{% static 'assets/flot/jquery.flot.pie.js' %}"></script>
      <script src="{% static 'assets/flot/jquery.flot.stack.js' %}"></script>
      <script src="{% static 'assets/flot/jquery.flot.crosshair.js' %}"></script>
      <script src="{% static 'js/jquery.peity.min.js' %}"></script>
      <script src="{% static 'js/scripts.js' %}"></script>
      <script src="{% static 'js/sidebar.js' %}"></script>
      <script src="{% static 'assets/jquery-slimscroll/jquery-ui-1.9.2.custom.min.js' %}"></script>
      <script src="{% static 'assets/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
      <script src="{% static 'js/jquery.cookie.js' %}"></script>
      {% block head %}
      {% endblock %}
   </head>
   <body class="fixed-top">
      <div id="header" class="navbar navbar-inverse navbar-fixed-top">
         <!-- BEGIN TOP NAVIGATION BAR -->
         <div class="navbar-inner">
            <div class="container-fluid">
               <!-- BEGIN LOGO -->
               <a class="brand" href="{% url 'home' %}">
               <img style="margin:-10px 0 0 0;opacity:9;" src="{% static 'img/logo.png' %}" alt="LOGO" />
               </a>
               <!-- END LOGO -->
               <!-- BEGIN RESPONSIVE MENU TOGGLER -->
               <a class="btn btn-navbar collapsed" id="main_menu_trigger" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="arrow"></span>
               </a>
               <!-- END RESPONSIVE MENU TOGGLER -->
               <div class="top-nav">
                  <ul class="nav pull-right top-menu" >
                     <!-- BEGIN USER LOGIN DROPDOWN -->
                     <li class="dropdown" style="margin-top:8px;color:#fff;font-size:14px;font-weight:bold;">
                        <a href="#" style="color:#fff;" class="dropdown-toggle" data-toggle="dropdown">
                        <span>Welcome {{user_name}}</span>
                        <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                           <li><a href="{% url 'changepassword' %}"><i class="icon-edit"></i> Change Password</a></li>
                           <li><a href="{% url 'logout' %}"><i class="icon-key"></i> Log Out</a></li>
                        </ul>
                     </li>
                     <!-- END USER LOGIN DROPDOWN -->
                  </ul>
                  <!-- END TOP NAVIGATION MENU -->
               </div>
               <!-- END  NOTIFICATION -->
               <div class="top-nav">
                  <ul class="nav pull-left top-menu">
                     <li class="dropdown" style="color:#fff;font-size:14px;font-weight:bold;">
                        <a href="#" style="color:#fff;" class="dropdown-toggle" data-toggle="dropdown">
                        <span>Module : {{default_module_name}}</span>
                        <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                           {% for module in modules %}
                           <li><a href="{% url 'set_module' module.module_id %}">{{module.module_name}}</a></li>
                           {% endfor %}
                        </ul>
                     </li>
                     <!-- END USER LOGIN DROPDOWN -->
                  </ul>
                  <ul class="nav top-menu" style="margin-left:230px;">
                     <li class="dropdown" style="color:#fff;font-size:14px;font-weight:bold;">
                        <a href="#" style="color:#fff;" class="dropdown-toggle" data-toggle="dropdown">
                        <span>Branch : {{default_branch_name}}</span>
                        <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                           {% for branch in branches %}
                           <li><a href="{% url 'set_branch' branch.branch_id %}">{{branch.branch_name}}</a></li>
                           {% endfor %}
                        </ul>
                     </li>
                     <!-- END USER LOGIN DROPDOWN -->
                  </ul>
                  <!-- END TOP NAVIGATION MENU -->
               </div>
            </div>
         </div>
         <!-- END TOP NAVIGATION BAR -->
      </div>
      <div id="container" class="row-fluid">
         <div id="sidebar" class="nav-collapse collapse sidebar" style="position:fixed;margin-top:45px">
            <ul class="sidebar-menu">
               {% for menu in menu_details %}               
                  <li class="has-sub">
                     {% if menu.childs|length == 0 %}
                     <a href={% url menu.menu.linkpage %} class="">
                     <span class="icon-box"><i class={{menu.menu.icon_class}}></i></span>{{ menu.menu.menu_name}}
                     </a>
                     {% else %}
                     <a href="javascript:;" class="">
                     <span class="icon-box"> <i class="icon-book"></i></span>
                     {{ menu.menu.menu_name }}
                     <span class="arrow"></span>
                     </a>
                     <ul class="sub">
                        {% for sub1 in menu.childs %}
                        {% if sub1.childs|length == 0 %}
                        <li>
                           <a href={% url sub1.menu.linkpage %} class={{sub1.menu.icon_class}}>
                           {{ sub1.menu.menu_name }}
                           </a>
                        </li>
                        {% else %}
                        <li class="has-sub">
                           <a href="javascript:;" class="">
                           {{ sub1.menu.menu_name }}
                           <span class="ccarrow" style="margin:5px 0 0 0;"></span>
                           </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                     </ul>
                     {% endif %}
                  </li>
               {% endfor  %}      
            </ul>
         </div>
         <div id="main-content" class="main_content">
            <div class="container-fluid">
               <div id="page" class="dashboard" >
                  <div>
                     {% block content %}
                     {% endblock %}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="footer">
         2015 &copy; DBSSPL.
         <div class="span pull-right">
            <span class="go-top"><i class="icon-arrow-up"></i></span>
         </div>
      </div>
   </body>
</html>
